<template>
  <div class="catalog-container">
    <div v-for="catalog in catalogs" class="catalog__item" :key="catalog.id">
      <img :src="catalog.icon" :alt="catalog.title" />
      <p class="catalog__title">
        {{ catalog.title }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Catalog",
  props: {
    catalogs: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
.catalog {
  &-container {
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding: 14px 0 10px;
  }
  &__item {
    min-width: 90px;
    max-width: 144px;
  }
  &__title {
    color: #252525;
    font-size: 14px;
    line-height: 17px;
  }
}
</style>
