<template>
  <div class="header-container">
    <img src="@/assets/icons/logo.svg" alt="logo" />
    <div class="header-actions">
      <div class="header-actions__top">
        <div class="button">
          <img src="@/assets/icons/Phone.svg" alt="phone" />
          <p style="margin-left: 10.75px; margin-right: 6px">
            Служба поддержки
          </p>
          <p>5151</p>
        </div>
        <div
          v-for="navigation in navigation"
          :key="navigation.id"
          class="button"
        >
          {{ navigation.title }}
        </div>
      </div>
      <div class="header-actions__bottom">
        <div class="add-button">
          <img src="@/assets/icons/car.svg" alt="car" />
          <p>Добавьте транспортное средство</p>
        </div>
        <div class="search-bar">
          <p>Поиск по артикулу или VIN-коду</p>
          <img src="@/assets/icons/search-button.svg" alt="search-button" />
        </div>
      </div>
    </div>
    <div class="header-user-status">
      <div class="header-user-status__top">
        <div
          v-for="authButton in authButtons"
          :key="authButton.id"
          class="button"
        >
          {{ authButton.title }}
        </div>
      </div>
      <div class="header-user-status__bottom">
        <div style="width: 53px">
          <img src="@/assets/icons/orders.svg" alt="orders" />
        </div>
        <div style="width: 53px">
          <img src="@/assets/icons/favorites.svg" alt="favorites" />
        </div>
        <div style="width: 120px">
          <img src="@/assets/icons/cart.svg" alt="cart" />
          <p>Нет товара</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data: () => ({
    navigation: [
      {
        id: 1,
        title: "Бренды",
      },
      {
        id: 2,
        title: "Каталоги",
      },
      {
        id: 3,
        title: "Подбор",
      },
      {
        id: 4,
        title: "Новости",
      },
      {
        id: 5,
        title: "Акции",
      },
    ],
    authButtons: [
      {
        id: 1,
        title: "Регистрация",
      },
      {
        id: 2,
        title: "Вход",
      },
    ],
  }),
};
</script>

<style lang="scss" scoped>
.header {
  &-container {
    display: flex;
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    gap: 20px;
  }
  &-actions {
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      padding: 0 4px;
      justify-content: space-between;
    }
    &__bottom {
      display: flex;
      gap: 20px;
    }
  }
  &-user-status {
    flex: 1;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 24px;
      gap: 40px;
    }
    &__bottom {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      & > div {
        border: 1px solid #bfbfbf;
        border-radius: 3px;
        // width: 53px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        & > p {
          margin-left: 10px;
          color: #252525;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}

.add-button,
.search-bar {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

.add-button {
  padding: 11px 16px;
  font-size: 14px;
  line-height: 17px;
  color: #252525;
  & > p {
    margin-left: 20px;
    width: 235px;
    text-align: start;
  }
}

.search-bar {
  padding: 13.5px 20px;
  & > p {
    color: #bfbfbf;
    font-size: 16px;
    line-height: 19px;
    margin-right: 245px;
  }
}

.button {
  color: #17488b;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
</style>
