<template>
  <div id="app">
    <div class="container">
      <Header />
      <Catalog :catalogs="catalogs" />
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
    Catalog: () => import("./components/Catalog.vue"),
    Header: () => import("./components/Header.vue"),
  },
  data: () => ({
    catalogs: [],
  }),
  async created() {
    await this.$store.dispatch("getAllCatalogs");
    this.catalogs = [...this.$store.state.catalogs];
    this.catalogs = this.catalogs.map((el) => ({
      ...el,
      icon: require(`../${el.icon}`),
    }));
  },
};
</script>

<style lang="scss">
@import "~@/assets/styles/stylesheet.scss";
@import "~@/assets/styles/reset.scss";

#app {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
